@import './style-common.css';

:root {
  /* Colors */
  --main-fg-color: rgb(183, 195, 183);
  --background-gradient: linear-gradient(
    to left top,
    #202020,
    #292a2d,
    #2e363a,
    #344343,
    #3e4f49
  );
  --nav-bar-image-background-hover: rgba(183, 195, 183, 0.2);
  --section-content: rgba(183, 195, 183, 0.05);
  --collapsible-header-background: rgba(183, 195, 183, 0.05);
  --nav-bar-background: rgb(54, 67, 68);
  --regular-shadow: 1px 1px 4px black;
}
