a {
  color: var(--main-fg-color);
  font-weight: 800;
  padding: 0;
  text-decoration: none;
}

#about-section {
  display: flex;
}

#about-text {
  background-color: var(--section-content);
  border-radius: var(--nav-bar-image-border-radius);
  box-shadow: var(--regular-shadow);
  box-sizing: border-box;
  display: inline-block;
  height: fit-content;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  width: 100%;
}

.body {
  background: var(--background-specs);
  background-image: var(--background-gradient);
  padding-bottom: 5em;
}

.button-container {
  margin-top: 1em;
}

.collapsible {
  background-color: var(--collapsible-header-background);
  border-radius: var(--dp-border-radius);
  border: var(--nav-bar-image-border-thickness) solid var(--nav-bar-background);
  box-shadow: var(--regular-shadow);
  cursor: default;
  outline: none;
  padding: 1em;
  text-align: left;
  transition: all var(--nav-bar-button-hover-transition-duration) ease;
}

.collapsible:after {
  color: var(--main-fg-color);
  content: '\002B';
  float: right;
  font-weight: bold;
  margin-left: 5px;
}

.active {
  background-color: var(--nav-bar-image-background-hover);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--dp-border-radius);
  border-top-right-radius: var(--dp-border-radius);
}

.active:after {
  content: '\002D';
}

.collapsible:hover {
  background-color: var(--nav-bar-image-background-hover);
}

.contact-form {
  background-color: var(--section-content);
  border-radius: var(--nav-bar-image-border-radius);
  box-shadow: var(--regular-shadow);
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 0;
  padding: 1em;
}

#contact-form-container {
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
}

.dp {
  border-radius: var(--dp-border-radius);
  border: var(--dp-border);
  box-shadow: var(--dp-shadow);
  box-shadow: var(--regular-shadow);
  margin-left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#dp-wrapper {
  margin: auto;
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff)
    format('woff');
}

.form-button {
  background-color: var(--nav-bar-image-background-hover);
  border-radius: var(--nav-bar-image-border-radius);
  border: none;
  box-shadow: var(--form-shadow);
  box-sizing: border-box;
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: var(--font-size-form);
  padding: 0.9em;
  transition: all var(--nav-bar-button-hover-transition-duration) ease;
  width: calc(50% - 2px - 0.25em);
}

.form-button:hover {
  background-color: var(--form-button-hover-color);
}

.form-button:active {
  background-color: var(--form-button-pressed-color);
}

.form-label {
  background-color: var(--nav-bar-image-background-hover);
  border-bottom-left-radius: var(--nav-bar-image-border-radius);
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--nav-bar-image-border-radius);
  border-top-right-radius: 0;
  border: 1px solid var(--transparent);
  box-sizing: border-box;
  color: var(--main-fg-color);
  display: inline-block;
  font-family: var(--default-font);
  font-size: var(--font-size-form);
  margin: 0;
  padding: 0.9em;
  width: 5em;
}

.form-row {
  border-radius: var(--nav-bar-image-border-radius);
  border: solid 0 var(--transparent);
  box-shadow: var(--form-shadow);
  box-sizing: border-box;
  margin-top: 1em;
  width: 100%;
}

.form-text-area {
  background-color: var(--form-textbox-background-color);
  border-bottom-left-radius: var(--nav-bar-image-border-radius);
  border-bottom-right-radius: var(--nav-bar-image-border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: solid 1px var(--transparent);
  box-sizing: border-box;
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: 1em;
  margin-bottom: -5px;
  margin-right: 0;
  min-height: 5em;
  padding: 0.5em;
  resize: vertical;
  width: 100%;
}

.form-text-area:focus {
  border: 1px solid var(--placeholder-color);
  outline: 0;
}

#form-textarea-label {
  background-color: var(--nav-bar-image-background-hover);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--nav-bar-image-border-radius);
  border-top-right-radius: var(--nav-bar-image-border-radius);
  border: solid 0 var(--transparent);
  box-sizing: border-box;
  color: var(--main-fg-color);
  display: inline-block;
  font-family: var(--default-font);
  font-size: var(--font-size-form);
  margin: 0;
  padding: 0.9em;
  width: 100%;
}

.form-textbox {
  background-color: var(--form-textbox-background-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--nav-bar-image-border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: var(--nav-bar-image-border-radius);
  border: 1px solid var(--transparent);
  box-sizing: border-box;
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: var(--font-size-form);
  margin: 0;
  margin-left: -5px;
  padding: 0.9em;
  width: calc(100% - 4.95em);
}

.form-textbox:focus {
  border: 1px solid var(--placeholder-color);
  outline: 0;
}

.generic-link {
  text-shadow: 1px 1px 1px var(--main-fg-color);
}

.inner-list {
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: 1.3em;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4em;
}

h1 {
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: var(--h1-size);
  font-weight: 300;
  margin: 1em;
}

h2 {
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: var(--h1-size);
  font-weight: 300;
  margin: 0;
}

.hide-bullet {
  list-style-type: none;
}

.inner-collapsible-area {
  max-height: 50%;
  padding: 1.5em;
  padding-right: 1em;
  width: 60%;
}

.inner-img-area {
  display: flex;
  width: 40%;
}

.inner-list-area {
  padding-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 1em;
  padding-top: 0;
  margin-top: 1em;
}

li {
  margin-left: 0.5em;
  padding: 0.5em;
}

.link-holder {
  height: max-content;
  width: max-content;
}

.link-holder:hover {
  border: var(--nav-bar-image-border-thickness) solid var(--nav-bar-background);
  border-radius: var(--nav-bar-image-border-radius);
}

.link-wrapper {
  margin: auto;
}

#name-text {
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: var(--name-text-size);
  font-weight: 300;
  margin-bottom: 0.5em;
  margin-top: 1.4em;
  text-align: var(--center-align-text);
}

.nav-bar {
  display: flex;
  height: auto;
  margin-left: auto;
  margin-right: 0;
  padding-left: 0.2em;
  width: fit-content;
}

#nav-bar-container {
  background-color: var(--nav-bar-background);
  border-bottom-left-radius: var(--nav-bar-image-border-radius);
  border-bottom-right-radius: var(--nav-bar-image-border-radius);
  border-left: solid 1px black;
  border-right: solid 1px black;
  box-shadow: 1px 1px 8px black;
  height: auto;
  position: fixed;
  right: 4px;
  top: 0;
  width: fit-content;
  z-index: 999;
}

.nav-bar-image {
  border-radius: var(--nav-bar-image-border-radius);
  height: var(--nav-bar-button-image-size);
  margin: 0;
  padding: 0;
  width: var(--nav-bar-image-size);
}

.nav-button {
  background-color: var(--nav-bar-background);
  border-radius: var(--nav-bar-image-border-radius);
  border: var(--nav-bar-border);
  margin: 0.2em;
  padding: 0.2em;
  position: relative;
  transition: all var(--nav-bar-button-hover-transition-duration) ease;
}

.nav-button:hover {
  background-color: var(--nav-bar-image-background-hover);
}

.nav-link {
  border: solid 1px var(--transparent);
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: 1em;
  line-height: 2.8em;
  padding: 0.5em;
  text-align: center;
  transition: all var(--nav-bar-button-hover-transition-duration) ease;
}

.nav-link:hover {
  background-color: var(--nav-bar-image-background-hover);
  border-radius: var(--nav-bar-image-border-radius);
  border: solid 1px var(--transparent);
}

.nav-list {
  display: inline;
  flex-wrap: wrap;
  height: auto;
  margin: 0;
  padding: 0;
}

.nav-list-item {
  display: inline-block;
  list-style-type: none;
  margin: auto;
  padding: 0em;
}

.outer-list {
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: 1.6em;
  font-weight: 600;
}

p {
  color: var(--main-fg-color);
  font-family: var(--default-font);
  font-size: 1.2em;
  font-weight: 300;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 0.1em;
  padding-bottom: 1em;
}

.photo {
  border-radius: var(--dp-border-radius);
  border: var(--dp-border);
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#photo-container {
  display: flex;
  margin-right: 2em;
  width: 22%;
}

.photo-wrapper {
  margin: auto;
  max-width: 100%;
}

::placeholder {
  color: var(--placeholder-color);
}

#reset-button {
  background-color: var(--form-reset-color);
  margin-left: 0.25em;
}

#reset-button:hover {
  background-color: var(--form-button-hover-color);
}

#reset-button:active {
  background-color: var(--form-button-pressed-color);
}

:root {
  --background-specs: no-repeat center center fixed;
  --center-align-text: center;
  --default-font: 'Open Sans Light';
  --dp-border-radius: var(--nav-bar-image-border-radius);
  --dp-border-thickness: 4px;
  --dp-border: var(--dp-border-thickness) solid var(--transparent);
  --dp-size: 24em;
  --font-size-form: 1.1em;
  --name-text-size: 2.7em;
  --nav-bar-background: var(--transparent);
  --nav-bar-border: 0;
  --nav-bar-button-hover-transition-duration: 0.4s;
  --nav-bar-button-offset: 1em;
  --nav-bar-image-border-radius: 12px;
  --nav-bar-image-border-thickness: 1px;
  --nav-bar-image-padding: 1em;
  --nav-bar-image-size: 2em;
  --nav-bar-margin: 0;
  --nav-bar-padding: 0;
  --transparent: rgba(0, 0, 0, 0);
  --h1-size: 2.2em;
}

.section {
  padding-left: 1em;
  padding-right: 1em;
}

.section-content {
  background-color: var(--section-content);
  border-bottom-left-radius: var(--nav-bar-image-border-radius);
  border-bottom-right-radius: var(--nav-bar-image-border-radius);
  box-shadow: var(--regular-shadow);
  display: flex;
  margin-bottom: 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#submit-button {
  margin-right: 0.25em;
}

@media (max-width: 1000px) {
  #about-section {
    display: block;
  }

  #about-text {
    background-color: var(--section-content);
    border-radius: var(--nav-bar-image-border-radius);
    box-shadow: var(--regular-shadow);
    box-sizing: border-box;
    height: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    width: 100%;
  }

  #contact-form-container {
    padding-left: 0;
    padding-right: 0;
  }

  .dp {
    border-radius: var(--dp-border-radius);
    border: var(--dp-border);
    box-shadow: var(--regular-shadow);
    box-sizing: border-box;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  #dp-wrapper,
  #photo-wrapper {
    margin: auto;
    width: fit-content;
  }

  .nav-bar {
    margin: auto;
  }

  #nav-bar-container {
    background-color: var(--nav-bar-background);
    border-bottom-left-radius: var(--nav-bar-image-border-radius);
    border-bottom-right-radius: var(--nav-bar-image-border-radius);
    border-left: solid 1px black;
    border-right: solid 1px black;
    box-shadow: 1px 1px 8px black;
    box-sizing: border-box;
    display: block;
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    width: 99%;
    z-index: 999;
  }

  #photo-container {
    display: block;
    margin: 0px auto;
    margin-bottom: 1em;
    width: 100%;
  }

  ul {
    padding-left: 2em;
  }
}

@media (max-width: 750px) {
  body {
    padding-top: 2em;
  }

  html {
    scroll-padding-top: 6em;
  }

  .form-label {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--nav-bar-image-border-radius);
    border-top-right-radius: var(--nav-bar-image-border-radius);
    display: block;
    width: 100%;
  }

  .form-textbox {
    border-bottom-left-radius: var(--nav-bar-image-border-radius);
    border-bottom-right-radius: var(--nav-bar-image-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block;
    width: 100%;
    margin: 0;
  }

  .nav-list {
    display: flex;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    font-size: 1em;
    flex: 1 1 0;
    flex-direction: row;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    line-height: 200%;
  }

  .nav-list-item {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    width: 50%;
  }

}

@media (max-width: 1200px) {
  .inner-collapsible-area {
    box-sizing: border-box;
    max-height: 100%;
    padding-bottom: 0;
    padding-right: 1em;
    padding-top: 1.5em;
    padding: 1em;
    width: 100%;
  }

  .inner-img-area {
    display: flex;
    width: 100%;
  }

  .section-content {
    display: block;
  }
}

@media (max-width: 371px) {
  body {
    padding-top: 4em;
  }

  html {
    scroll-padding-top: 8em;
  }
}
